* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-grey: #5e5e5e;
    --light-grey: #f1f1f1;
    --blue: #428bca;
    --white: #fff;
}

body {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 100%;
    max-width: 48rem;
    min-width: 20rem;
    margin: 5rem auto;
    background-color: var(--light-grey);
    border-radius: 1rem;
    overflow: hidden;
}

header {
    display: flex;
    background-color: var(--dark-grey);
    color: var(--white);
    align-items: center;
    justify-content: space-between;
    padding: .8rem 2rem;
}

.titulo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .titulo > span {
    background: var(--blue);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  
  .titulo > h2 {
    font-weight: 500;
  }

.container-form {
    padding: 2rem 1rem;
}

form fieldset {
    border: 0;
    width: 100%;
    margin-bottom: 2.5rem;
}

.campo {
    display: flex;
    margin-bottom: 0.5rem;
    gap: 1rem;
  }
  
  .campo > label {
    width: 20%;
  }
  
  form textarea {
    width: 100%;
    border-radius: 6px;
  }
  
  .interesses-cont {
    display: flex;
    flex-direction: column;
  }

  .interesses-cont label {
    flex: 1;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="tel"],
  input[type="password"],
  select {
   flex: 1;
   padding: .625rem;
   border: 1px solid #ccc;
   border-radius: .3125rem;
   color:#333;
  }

  input[type="date"],
  input[type="password"],
  select {
    flex: none;
  }
   
  input[type="submit"] {
    background: var(--dark-grey);
    color: var(--white);
    padding: 1rem 2rem;
    width: 100%;
    border: 0;
  }
  
  input[type="submit"]:hover {
    transition: opacity 0.2s ease-in-out; 
    opacity: 0.9;
    cursor: pointer;
  }

