@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:wght@100;200;300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500&family=Hind:wght@300&family=Montserrat:wght@100;300&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.bg_dark {
    background-color: #343a40;
}

.menu ul , .logo{
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 60px;
    height: 60px;
}

.menu li {
    display: inline;
    padding: 10px;
    cursor: pointer;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.menu a:hover {
    background-color: rgb(132, 132, 148);
    padding: 10px;
}

.grown1 {
    flex-grow: 1;
}

.grown2 {
    flex-grow: 2;
}

.content-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.banner {
    background: url('../img/hero-bg.png') center / cover no-repeat fixed;
}

.banner p, .banner h2{
    padding: 10px;
}

.introsection {
    padding: 5rem;
    gap: 1rem;
}

.section-p {
    line-height: 1.5;
}

.sec {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.flex {
    display: flex;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 0.17rem;
}

.buttons {
    text-transform: uppercase;
    border-radius: 5px;
    background-color: aqua;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
}

.buttons-blue {
    background-color: rgb(114, 38, 181);
}

.buttons-green {
    background-color: rgb(20, 207, 95);
}

/* IMAGENS */

main {
    padding: 0 5rem;
    width: 100%;

}

main > section {
    width: 100%;
    text-align: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem
}

.galeria article{
    border: 1px solid red;
}

article img {
    width: 100%;
}