@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:wght@100;200;300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500&family=Hind:wght@300&family=Montserrat:wght@100;300&family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  background-image: url('../img/hero-bg.png');
}

a {
  text-decoration: none;
}

/* HEADER */

nav {
  padding: 0 5rem;
  background: #343a40;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 60px;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

.menu a {
  color: #fff;
  padding: 0.625rem;
  border-radius: 5px;
}

.menu a:hover {
  background-color: #585858;
}

.menu i {
  font-size: 1.2rem;
}

/* CONTEUDO */

section {
  display: flex;
  padding: 5rem;
  gap: 2rem;
}

.content-img {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content p {
  line-height: 1.5;
}

.btn-container {
  text-align: center;
}

.btn-default {
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn-purple {
  background: #8a008a;
}

.btn-purple:hover {
  transition: .2s ease;
  background: #a700a7;
}

.btn-green {
  background: #008600;
}

.btn-green:hover {
  transition: .2s ease;
  background: #009b00;
}



